<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Edit Player</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="playerForm" (ngSubmit)="updatePlayerForm()" #resetPlayerForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Player Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player Name" formControlName="player_name">
            <mat-error *ngIf="handleError('player_name', 'required')">
              You must provide a<strong>player name</strong>
            </mat-error>
          </mat-form-field>

          <!-- Player Rank -->
          <mat-form-field>
              <mat-label>Player Rank</mat-label>
              <mat-select [(value)]="selected1" formControlName="player_rank">
                <mat-option [value]="rankingArray" *ngFor="let rankingArray of RankingArray">{{rankingArray}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('player_rank', 'required')">
                Rank is required
              </mat-error>
            </mat-form-field>

          <!-- Player Score -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player Score" formControlName="player_score">
            <mat-error *ngIf="handleError('player_score', 'required')">
              You must provide a <strong>player score</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
  
      <!-- Right block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- Player Time -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player Time" formControlName="player_time">
            <mat-error *ngIf="handleError('player_time', 'required')">
              You must provide a <strong>player time</strong>
            </mat-error>
          </mat-form-field>

          <!-- Player Favourite Game -->
          <mat-form-field>
              <mat-label>Favourite Game</mat-label>
              <mat-select [(value)]="selected2" formControlName="player_favourite_game">
                <mat-option [value]="favouriteGameArray" *ngFor="let favouriteGameArray of FavouriteGameArray">{{favouriteGameArray}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="handleError('player_favourite_game', 'required')">
                Rank is required
              </mat-error>
            </mat-form-field>
        </div>

        <!-- Player Status-->
        <div class="misc-bottom-padding">
          <mat-label>Status:</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="player_status">
            <mat-radio-button value="Available">Available</mat-radio-button>
            <mat-radio-button value="Unavailable">Unavailable</mat-radio-button>
          </mat-radio-group>
        </div>        
      </mat-card>
      
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Update</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>