<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Games List</h1>
    <button  mat-fab color="primary" routerLink="/add-player"  class="push-right">Add</button>
    <button  mat-fab color="accent" routerLink="/games-list" class="push-right">Games</button>
    <button  mat-fab color="primary" routerLink="/players-list" >Players</button>
    <br>
    <br>
    <mat-form-field appearance = "outline"  class="push-right">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-divider fxFlex="1 0"></mat-divider>

</div>


  <p *ngIf="GameData.length <= 0" class="no-data">There is no games added yet!</p>
  
  <div class="container" *ngIf="GameData.length > 0">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- GAME TITLE -->
        <ng-container matColumnDef="game_title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.game_title}} </td>
        </ng-container>
  
        <!-- GAME PLATFORM -->
        <ng-container matColumnDef="game_platform">
          <th mat-header-cell *matHeaderCellDef> Platform </th>
          <td mat-cell *matCellDef="let element"> {{element.game_platform}} </td>
        </ng-container>
  
        <!-- GAME GENRE -->
        <ng-container matColumnDef="game_genre">
          <th mat-header-cell *matHeaderCellDef> Genre </th>
          <td mat-cell *matCellDef="let element"> {{element.game_genre}} </td>
        </ng-container>

        <!-- GAME RATING -->
        <ng-container matColumnDef="game_rating">
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.game_rating}} </td>
        </ng-container>

        <!-- GAME PUBLISHER -->
        <ng-container matColumnDef="game_publisher">
            <th mat-header-cell *matHeaderCellDef> Publisher </th>
            <td mat-cell *matCellDef="let element"> {{element.game_publisher}} </td>
        </ng-container>

        <!-- GAME RELEASE -->
        <ng-container matColumnDef="game_release">
            <th mat-header-cell *matHeaderCellDef> Release </th>
            <td mat-cell *matCellDef="let element"> {{element.game_release}} </td>
        </ng-container>

        <!-- GAME STATUS -->
        <ng-container matColumnDef="game_status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.game_status}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>