<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Gamer Lobby <mat-icon>gamepad</mat-icon> </div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/players-list">
        <mat-icon>face</mat-icon> Admin View
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/player-ranking">
        <mat-icon>sports_esports</mat-icon> Player Rankings
      </a>
    

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>