


<router-outlet></router-outlet>

<!-- <div class="main">
  <app-players-list></app-players-list>
</div> -->

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-player">
        <mat-icon>add</mat-icon> Add Player
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/players-list">
        <mat-icon>format_list_bulleted</mat-icon> View Players
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->