<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Add Player</h1>
  <button mat-raised-button color="warn" routerLink="/add-player"  class="push-right">Add Player</button>
    <button mat-raised-button color="primary" routerLink="/games-list" class="push-right">Games</button>
    <button mat-raised-button color="primary" routerLink="/players-list" >Players</button>
    <br>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="playerForm" (ngSubmit)="submitPlayerForm()" #resetPlayerForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Player name" formControlName="player_name">
          <mat-error *ngIf="handleError('player_name', 'required')">
            You must provide a<strong>player name</strong>
          </mat-error>
        </mat-form-field>

        <!-- Player Ranking-->
        <mat-form-field>
          <mat-label>Player Ranking</mat-label>
          <mat-select [(value)]="rank_selected" formControlName="player_rank">
            <mat-option [value]="rankingArray" *ngFor="let rankingArray of RankingArray">{{rankingArray}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('player_rank', 'required')">
            Ranking is required
          </mat-error>
        </mat-form-field>

        <!-- Player Score -->
        <mat-form-field class="example-full-width">
          <input type="number" matInput placeholder="Player Score" formControlName="player_score">
          <mat-error *ngIf="handleError('player_score', 'required')">
            You must provide a <strong>player score</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Player Favourite Game-->
        <mat-form-field>
          <mat-label>Favourite Game</mat-label>
          <mat-select [(value)]="game_selected" formControlName="player_favourite_game">
            <mat-option [value]="favouriteGameArray" *ngFor="let favouriteGameArray of FavouriteGameArray">{{favouriteGameArray}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="handleError('player_favourite_game', 'required')">
            Favourite game is required
          </mat-error>
        </mat-form-field>        

        <!-- Player Time -->
        <mat-form-field class="example-full-width">
          <input type="number" matInput placeholder="Player Time" formControlName="player_time">
          <mat-hint>In hours</mat-hint>
          <mat-error *ngIf="handleError('player_time', 'required')">
            You must provide a <strong>player time</strong>
          </mat-error>
        </mat-form-field>

        <!-- Player Status -->
        <div class="misc-bottom-padding">
          <mat-label>Status:</mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="player_status">
            <mat-radio-button value="Available">Available</mat-radio-button>
            <mat-radio-button value="Unavailable">Unavailable</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>